#micaEffect {
    filter: saturate(400%) brightness(55%) contrast(150%) blur(175px) !important;
}
.bg-artwork-container {
    filter: saturate(370%) brightness(55%) blur(200px) contrast(170%) !important; 
}
.fullscreen-view-container .bg-artwork-container, .modular-fs .app-drawer .bgArtworkMaterial .bg-artwork-container {
    filter: saturate(370%) grayscale(33%) brightness(88%) blur(200px) contrast(170%) !important;
}