div#app {
    background: transparent;
}
#micaEffect {
    filter: saturate(320%) contrast(190%) brightness(41%) blur(90px) blur(20px) contrast(85%) !important;
}
.bg-artwork-container:where(:not(.fullscreen-view-container .bg-artwork-container)):where(:not(.modular-fs .app-drawer .bgArtworkMaterial .bg-artwork-container)) {
    filter: saturate(300%) contrast(150%) blur(200px) brightness(50%) blur(90px) blur(20px) contrast(85%) !important; 
}
.fullscreen-view-container .bg-artwork-container, .modular-fs .app-drawer .bgArtworkMaterial .bg-artwork-container {
    filter: saturate(300%) contrast(150%) blur(200px) brightness(58%) blur(90px) blur(20px) contrast(85%);
}