div#app {
    --panelColor1: rgba(20, 20, 20, 0.15);
    --panelColor2: rgba(25, 25, 25, 0.275);
    background: transparent;
}
#micaEffect {
    filter: saturate(320%) contrast(190%) brightness(41%) brightness(80%) grayscale(15%) saturate(85%) !important;
}
.bg-artwork-container:where(:not(.fullscreen-view-container .bg-artwork-container)):where(:not(.modular-fs .app-drawer .bgArtworkMaterial .bg-artwork-container)) {
    filter: saturate(300%) contrast(150%) brightness(50%) blur(33px) brightness(80%) grayscale(15%) saturate(85%) !important; 
}
.fullscreen-view-container .bg-artwork-container, .modular-fs .app-drawer .bgArtworkMaterial .bg-artwork-container {
    filter: saturate(300%) contrast(150%)  brightness(58%) blur(33px) brightness(80%) grayscale(15%) saturate(85%);
}