div#app {
    --panelColor1: rgba(20, 20, 20, 0.15);
    --panelColor2: rgba(25, 25, 25, 0.275);
    background: transparent;
}
#micaEffect {
    filter: brightness(45%) saturate(300%) contrast(130%) grayscale(13%);
}
.bg-artwork-container {
    filter: brightness(45%) saturate(300%) contrast(150%) grayscale(13%) blur(210px); 
}
.fullscreen-view-container .bg-artwork-container, .modular-fs .app-drawer .bgArtworkMaterial .bg-artwork-container {
    filter: brightness(50%) saturate(170%) contrast(150%) grayscale(40%) blur(210px);
}