/* Change #1: Changed the font to Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body, .playlist-name, .app-chrome, .song-duration {
    font-family: "Inter", system-ui !important;
}

/* Change #2: Fixed the bug where song info with a marquee breaks the line spacing */	
.app-chrome.chrome-bottom .app-playback-controls {	
    overflow: hidden !important; /* #2 */	
}
.app-chrome.chrome-bottom .playback-info {	
    overflow-x: hidden !important; /* #4 */	
    overflow-y: visible !important; /* #2 */	
}
.app-chrome.chrome-bottom .app-playback-controls:hover .marquee .song-artist {	
    overflow: unset !important; /* #2 */	
}

/* Change #3: Made the song title / album+artist fade consistent regardless of window size, and generally made it nicer looking */	
/* Change #4: Fixed the fade misrepresenting the actual size to the marquee logic (i.e. there was a sweet spot where resizing the window covered some of the text with the fade without marquee'ing /*	
/* Change #5: Changed the positioning of the fade based on whether or not the CAP / spatializiation icon is present */	
/* Change #6: Why is there a max width on the song info???? just why?? stop it. get some help */	
.app-chrome.chrome-bottom .song-name, .app-chrome.chrome-bottom .song-artist-album {	
    width: 100% !important; /* #4 */	
    max-width: 100% !important; /* #4, #6 */	
    overflow: visible !important; /* #6 */	
    -webkit-mask-image: linear-gradient(-90deg, transparent 0px, transparent 7px, black 21px) !important; /* #3 */	
}
.app-chrome.chrome-bottom .audio-type + .song-artist-album, .app-chrome.chrome-bottom .song-name/*:nth-last-child(3), .app-chrome.chrome-bottom .song-name:nth-last-child(4), .app-chrome.chrome-bottom .song-name:nth-last-child(5)*/, .app-chrome.chrome-bottom .song-album {	
    width: calc(100% - 20px) !important; /* #4 */	
    -webkit-mask-image: linear-gradient(-90deg, transparent -20px, transparent 2px, black 16px) !important; /* #3, #5 */	
}

/* Change #7: Reposition playback controls vertically */	
.app-chrome.chrome-bottom .app-chrome-playback-controls {	
    position: relative !important; /* #7 */	
    top: -23px !important; /* #7 */	
}
.app-chrome.chrome-bottom .app-chrome-playback-duration, .app-chrome-playback-duration-bottom {	
    position: relative !important; /* #7 */	
    top: 53px !important; /* #7 */	
}

/* Change #8: Reposition song duration text vertically */	
.app-chrome.chrome-bottom .app-chrome-playback-duration-bottom .col-sm-auto {	
    position: relative !important;
    top: -2px !important; /* #8 */
}

/* Change #9: Brighten the background */
#app {
    --color1: rgba(15, 15, 15, 0.05) !important; /* #9 */
    --color2: rgba(30, 30, 30, 0.15) !important; /* #9 */
}
.list-group-item-dark {
    background-color: rgba(45, 45, 45, 0.25) !important; /* #9 */
}
#navigation-bar {
    background-color: rgba(0, 0, 0, 0.05) !important; /* #9 */
}
.window-controls {
    background-color: rgba(0, 0, 0, 0.15) !important; /* #9 */
}
.window-controls > div:hover {
    background-color: rgba(200, 200, 200, 0.2) !important; /* #9 */
}
.repo-header {
    background-color: rgba(36, 36, 36, 0.4) !important; /* #9 */
}
#micaEffect {
    filter: saturate(260%) brightness(0.9) !important;
    opacity: 0.5 !important; /* #10 */
}

/* Change #10: Prevent other themes from dulling the background */
#app-sidebar, .app-chrome.chrome-bottom {
    background-color: var(--color1) !important; /* #10 */
}
#app-content {
    background-color: var(--color2) !important; /* #10 */
}
.search-input {
    background-color: rgba(100, 100, 100, 0.25) !important; /* #10 */
    z-index: 9000 !important;
}

/* Change #11: Prevent other themes from changing the window controls style */
.window-controls {
    height: 100% !important;
    position: unset !important;
    right: unset !important;
    top: unset !important;
}
