/* Change #1: Changed the font to Inter */
@font-face {
    font-family: "Inter";
    src: url(Inter/Inter-VariableFont_slnt,wght.ttf);
}
html, body, :root, div#app, .lyric-body, .lyrics-translation, div#captions {
    --QOLfont: "Inter", "Pretendard Variable", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* #1 */
    font-family: var(--QOLfont); /* #1 */
    --bs-font-sans-serif: var(--QOLfont); /* #1 */
    --bs-font-monospace: var(--QOLfont); /* #1 */
    --keyColor: #fc3c44; /* #8 */
    --keyColor-primary: #ff2b52a6; /* #8 */
    color: var(--textColor); /* #8 */
}


/* Change #2: Made the song info fade consistent regardless of window size, and generally made it nicer looking */	
/* Change #3: Changed the positioning of the fade based on whether or not the CAP / private session icon is present (and arranged icons vertically instead of horizontally to make this work) */	
/* Change #4: Why is there a max width on the song info???? just why?? stop it. get some help */	
#app.twopanel .app-chrome.chrome-bottom .app-chrome--left .playback-controls .playback-info .song-name,
#app.twopanel .app-chrome.chrome-bottom .app-chrome--left .playback-controls .playback-info .song-artist, 
#app.twopanel .app-chrome.chrome-bottom .app-chrome--left .playback-controls .playback-info .song-album {	
    width: 100%; /* #2 */
    max-width: 100%; /* #2, #4 */
    white-space: nowrap; /* #2 */
    -webkit-mask-image: linear-gradient(-90deg, transparent -20px, transparent 4px, black 21px) !important; /* #2 */
}
#app.twopanel .app-chrome.chrome-bottom .app-chrome--left .playback-controls .playback-info .song-name:where(:nth-last-child(1n+4)),
#app.twopanel .app-chrome.chrome-bottom .app-chrome--left .playback-controls .playback-info .song-artist:where(:nth-last-child(1n+3)),
#app.twopanel .app-chrome.chrome-bottom .app-chrome--left .playback-controls .playback-info .song-album:where(:nth-last-child(1n+2)) {	
    -webkit-mask-image: linear-gradient(-90deg, transparent -20px, transparent 19px, black 38px) !important; /* #2, #3 */	
}
.app-chrome .app-chrome-item > .app-playback-controls .song-name:where(:not(#app.twopanel .song-name)) {
    width: 100%; /* #2 */
    max-width: 100%; /* #2, #4 */
}
.app-chrome .app-chrome-item > .app-playback-controls .song-artist-album:where(:not(#app.twopanel .song-artist-album)) {
    width: calc(100% - 54px); /* #2 */
    max-width: 100%; /* #2, #4 */
    -webkit-mask-image: linear-gradient(-90deg, transparent -20px, transparent -1px, black 5px) !important; /* #2, #3 */
}
.app-chrome .app-chrome-item > .app-playback-controls .info-rect:where(:not(#app.twopanel .info-rect)) {
    -webkit-mask-image: linear-gradient(-90deg, transparent -20px, transparent 19px, black 38px, black calc(100% - 38px), transparent calc(100% - 19px), transparent calc(100% + 20px)) !important; /* #2, #3 */	
}
.app-chrome .app-chrome-item > .app-playback-controls .info-rect:where(:not(#app.twopanel .chrome-icon-container).chrome-icon-container:empty + .info-rect) {
    -webkit-mask-image: linear-gradient(-90deg, transparent -20px, transparent 4px, black 23px, black calc(100% - 23px), transparent calc(100% - 4px), transparent calc(100% + 20px)) !important; /* #2 */
}
.app-chrome .app-chrome-item > .app-playback-controls .chrome-icon-container:where(#app.twopanel .chrome-icon-container) {
    height: 100%; /* #3 */
    flex-direction: column-reverse; /* #3 */
    justify-content: space-evenly; /* #3 */
}
.app-chrome .app-chrome-item > .app-playback-controls .chrome-icon-container:where(:not(#app.twopanel .chrome-icon-container)) {
    width: 100%; /* #3 */
    justify-content: flex-end; /* #3 */
    margin-bottom: 15px; /* #3 */
    right: 0px !important; /* #3 */ /* iTheme compatibility lmao */
    left: 0px !important; /* #3 */
}
.app-chrome .app-chrome-item > .app-playback-controls .audio-type {
    flex: unset; /* #3 */
    margin: 0; /* #3 */
}
.app-chrome .app-chrome-item > .app-playback-controls .ppe-icon:where(:not(#app.twopanel .ppe-icon)) {
    margin-right: 2px !important;
    margin-left: calc(100% - 34px) !important;
}
.app-chrome .app-chrome-item > .app-playback-controls .private-icon:where(:not(#app.twopanel .private-icon)) {
    margin-left: 2px !important;
}

/* Change #5: Reposition playback controls vertically */	
.app-chrome.chrome-bottom .app-chrome-playback-controls {	
    position: relative; /* #5 */	
    top: -23px; /* #5 */	
}
.app-chrome-playback-duration-bottom {	
    position: relative; /* #5 */	
    top: 53px; /* #5 */	
}

/* Change #6: Reposition song duration text vertically */	
#app.twopanel .app-chrome.chrome-bottom .app-chrome-playback-duration-bottom .col-sm-auto {	
    position: relative; /* #6 */
    top: -0.5px; /* #6 */
}


/* Change #7: Brighten the background & (try to) fix weird artwork interactions with Mica and no-song state */
html, body, :root, div#app {
    --panelColor1: rgba(20, 20, 20, 0.05); /* #7 */
    --panelColor2: rgba(25, 25, 25, 0.175); /* #7 */
    --color1: var(--panelColor1); /* #7 */
    --color2: var(--panelColor2); /* #7 */
    --color3: rgba(0, 0, 0, 0.2); /* #8 */
    --bgColor: transparent; /* #8 */
    --baseColor: #1e1e1e; /* #8 */
    --baseColorMix: rgba(30, 30, 30, 0.5); /* #8 */
    --sidebarColor: #2e2e2e; /* #8 */
    --sidebarColorMix: rgba(46, 46, 46, 0.5); /* #8 */
    --ciderColor: var(--keyColor); /* #8 */
    background: transparent; /* #8 */
    color: var(--textColor); /* #8 */
}
#app-main, .app-navigation {
    background-color: transparent; /* #7 */
}
.playlist-page .playlist-display .artworkContainer .artworkMaterial img {
    isolation: isolate;
    filter: saturate(115%) contrast(300%) blur(33px); /* #7 */
    backdrop-filter: brightness(0); /* #7 */
    transition: unset !important; /* #7 */
}
.playlist-page .playlist-display .artworkContainer {
    animation: unset; /* #7 */
    -webkit-mask-image: radial-gradient(at top left, black, transparent 83%), radial-gradient(at top right, black, transparent 83%), linear-gradient(180deg, #c8c8c8, transparent 100%); /* #7 */
    opacity: 1; /* #7 */
}
.bg-artwork, .fullscreen-view .background .bgArtworkMaterial .bg-artwork-container .bg-artwork, .app-drawer .bgArtworkMaterial .bg-artwork-container .bg-artwork {
    isolation: isolate;
    filter: saturate(190%) brightness(200%) contrast(275%) blur(200px); /* #7 */
}
.bg-artwork-container .bg-artwork.a {
    animation-delay: -10s; /* #7 */
}
.bg-artwork-container .bg-artwork.b {
    animation-delay: 0s; /* #7 */
}
#micaEffect {
    isolation: isolate;
    filter: saturate(320%) contrast(190%) brightness(41%) !important; /* #7 */
    backdrop-filter: brightness(0); /* #7 */
    transform: scale(108%, 108%); /* #7 */
    opacity: 1; /* #8 */
    z-index: -3 !important; /* #7 */
}
.bg-artwork-container:where(:not(.fullscreen-view-container .bg-artwork-container)):where(:not(.modular-fs .app-drawer .bgArtworkMaterial .bg-artwork-container)) {
    isolation: isolate;
    filter: saturate(300%) contrast(150%) brightness(50%) blur(33px) !important; /* #7 */
    backdrop-filter: brightness(0); /* #7 */
    transform: scale(108%, 108%); /* #7 */ 
}
.fullscreen-view-container .bg-artwork-container, .modular-fs .app-drawer .bgArtworkMaterial .bg-artwork-container {
    isolation: isolate;
    filter: saturate(300%) contrast(150%) brightness(58%) blur(33px); /* #7 */
    backdrop-filter: brightness(0); /* #7 */
    transform: scale(108%, 108%); /* #7 */
}
.bg-artwork--placeholder {
    z-index: -3; /* #7 */
    opacity: 1; /* #7, #8 */
    background-color: var(--baseColor); /* #7 */
}
.bg-artwork-container + .bg-artwork--placeholder {
    z-index: -2; /* #7 */
}
.list-group-item-dark {
    background-color: rgba(45, 45, 45, 0.25); /* #7 */
}
.installed-themes-page .list-group-item.addon, .installed-plugins-page .list-group-item.addon {
    background-color: rgba(105, 105, 105, 0.25); /* #7 */
}
.installed-themes-page .list-group-item.applied, .installed-plugins-page .list-group-item.applied {
    background-color: rgba(250, 90, 90, 0.4); /* #7 */
}
.installed-themes-page .list-group-item.addon.applied, .installed-plugins-page .list-group-item.applied {
    background-color: rgba(220, 80, 80, 0.3); /* #7 */
}
.library-page .library-header {
    background-color: rgba(0, 0, 0, 0.15); /* #7 */
}
.app-chrome .app-chrome-item > .window-controls > div:hover {
    background-color: rgba(200, 200, 200, 0.2); /* #7 */
}
.installed-themes-page .repo-header, .installed-plugins-page .list-group-item.applied {
    background-color: rgba(36, 36, 36, 0.4); /* #7 */
}
.search-input {
    color: var(--textColor);
    background-color: rgba(120, 120, 120, 0.35); /* #7 */
}
.search-input::placeholder {
    color: var(--textColor); /* #7 */
    opacity: 0.6; /* #7 */
}
.search-input--icon {
    opacity: 0.6; /* #7 */
}
.app-drawer, #app.twopanel .app-chrome.chrome-bottom {
    background-color: var(--baseColorMix); /* #7 */
}
.app-sidebar-header-text {
    font-size: 12px; /* #7 */
    opacity: 1; /* #7 */
    filter: brightness(92%); /* #7 */
}
.reasonSP {
    color: var(--textColor); /* #7 */
}

/* Change #8: Prevent other themes from dulling the background or messing up the colors */
#app-sidebar, .playlist-page .playlist-body {
    background: var(--panelColor1); /* #8 */
}
#app-content, .installed-themes-page .style-editor-container, .github-themes-page .github-preview, .app-sidebar-footer.collapseTab > button {
    background: var(--panelColor2); /* #8 */
}
.app-sidebar-item {
    color: var(--textColor); /* #8 */
}


/* Change #9: Prevent other themes from changing the window controls style */
.app-chrome .app-chrome-item > .window-controls {
    height: 100%; /* #9 */
    position: unset; /* #9 */
    right: unset; /* #9 */
    top: unset; /* #9 */
}


/* Change #10: Fix the search hints transparency and positioning */
.search-hints-container .search-hints:where(#app.twopanel .search-hints) {
    background-color: #1e1e1ecf; /* #10 */
}
.search-hints-container:where(#app.twopanel .search-hints-container) {
    left: calc(-10px - (var(--sidebarWidth) - 20px)*0.125); /* #10 */
}
.app-sidebar-header .search-input-container .search-hints-container:where(:not(#app.twopanel .search-hints-container)), .search-hints-container .search-hints:where(:not(#app.twopanel .search-hints)) {
    padding-left: 0px; /* #10 */
    padding-right: 0px; /* #10 */
    width: 100%; /* #10 */
}
.search-hints-container .search-hints .search-hint:where(:not(#app.twopanel .search-hint)) {
    width: calc(100% - 12px); /* #10 */
    margin-left: 6px; /* #10 */
}

/* Change #11: Fix the playlist name/description edit positioning and size */
.nameEdit {
    margin-bottom: -6px; /* #11 */
}
.descriptionEdit {
    margin-top: -6px; /* #11 */
}
.playlist-page .playlist-display .playlistInfo .playlist-info .nameEdit, .playlist-page .playlist-display .playlistInfo .playlist-info .descriptionEdit, .playlist-desc > div {
    width: 100%; /* #11 */
}

/* Change #12: Undo song title shrink change */
#app.twopanel .app-chrome.chrome-bottom .app-chrome--left .playback-controls .playback-info .song-name {
    font-size: 0.98em;
}