div#app:where(:not(.simplebg)) {
    background: transparent;
}

div#app:before, #micaEffect:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 300%;
    height: 300%;
    top: -150%;
    left: -150%;
    background: var(--keyColor);
    opacity: 0.35;
    isolation: isolate;
    filter: saturate(167%);
    pointer-events: none;
}

#micaEffect:before {
    opacity: 0.15;
}